button {
  height: 50px;
  width: 130px;
  background-color: #ff0062;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #038377;
  color: white;
}
button a {
  text-decoration: none;
  color: #fcfaf0;
  font-family: "Lunasima";
  font-size: 16px;
  font-weight: 700;
}
.btn {
  height: 50px;
  width: 130px;
  background-color: #ff0062;
  text-decoration: none;
  border-radius: 5px;
  line-height: 3;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.btn a {
  text-decoration: none;
  color: #fcfaf0;
  font-family: "Lunasima";
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 13px;
}
.translate {
  /* margin-top: 10px;
  margin-left: 5px; */
  height: 40px;
  width: 77px;
  position: fixed;
  bottom: 20px;
  left: 10px;
  background-color: #038377;
  color: #fcfaf0;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
